.sub-container{
    border: 1px solid var(--black-shade-3);
    border-radius: 0.7rem;
    width: fit-content;
    padding-right: 4rem !important;
}

.sub-container p{
    margin: 0;
}

.sub-container .heading{
    font-size: 1rem;
}

.sub-container .description{
    color: var(--black-shade-4);
    font-size: 0.6rem;
    width: 20rem;
}

.sub-container .amount{
    font-size: 2.5rem;
}

.sub-container .primary-btn{
    font-size: 0.9rem !important;
    padding-inline: 0.8rem 5rem !important;
}

.container-2{
    background-color: var(--white-shade-1);
}

.container-2 .description{
    width: 15rem !important;
}

.container-2 .amount{
    font-size: 3.5rem;
}

.bi-arrow-up-circle{
    color: var(--primary-color);
    font-size: 2.5rem;
}

.tbl-section td, .tbl-section th{
    padding-left: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tbl-section table{
    width: 100%;
    table-layout: fixed;
}

.tbl-section{
    height: 35vh !important;
    overflow-y: scroll;
}

.border-end{
    border-right: 1px solid var(--black-shade-3) !important;
}

/* Add New Book Modal */
#addNewBook .modal-dialog, #bookDetails .modal-dialog{
    max-width: 55vw !important;
}

#addNewBook .modal-body{
    padding: 0 2rem;
}

/*Remove Arraw of Number Input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
/* ----- */

.image-picker label .bi{
    font-size: 3rem;
}

.image-picker label p{
    font-size: 0.65rem;
}

.image-picker label{
    color: var(--primary-color);
    background-color: #EFFEF6;
    border-radius: 0.8rem;
    border: 1px dashed var(--primary-color);
}

.image-picker label:hover{
    cursor: pointer;
}

.image-container{
    overflow: hidden;
    height: 12rem;
    border: 1px solid var(--white-shade-2);
    border-radius: 0.8rem;
}

.info p{
    font-size: 0.8rem;
    color: var(--black-shade-4);
}

/* Book Details Modal */
.modal-header span{
    color: var(--black-shade-4);
    font-size: 1rem;
}

.delete-btn{
    background-color: var(--red) !important;
}

.delete-btn:hover{
    background-color: #ff5277 !important;
}

/* View Order Modal */
#viewOrderModal .modal-dialog{
    max-width: 50vw;
}

#viewOrderModal .modal-body{
    padding-inline: 2rem;
}

.tracking-number{
    width: 45%;
}

.orderTabel{
    padding-inline: 2rem;
}

.orderTabel table{
    table-layout: fixed;
}

.orderTabel thead th{
    color: var(--black-shade-4);
    font-weight: 500;
}

.orderTabel tbody td{
    padding-block: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.orderTabel table th, .orderTabel table td{
    padding-left: 2rem;
}

.cusomer-details p{
    margin: 0;
}

.cusomer-details p:not(.fw-semibold){
    padding-left: 1rem;
    font-size: 0.9rem;
}

.cusomer-details, .otherOrderDetails{
    width: fit-content;
}

#viewOrderModal .date-time{
    font-size: 0.9rem;
}