<div class="mx-5 mt-3">
    <h3 class="fw-semibold">Overview</h3>
    <div class="row">
        <div class="sub-container pt-2 pb-3 px-4">
            <p class="fw-medium heading">Balance</p>
            <p class="description">The total balance is available in your account. You can be withdrawn if it exceeds LKR 2000.</p>
            <p class="fw-semibold amount">LKR 000</p>
            <button class="btn mt-3 primary-btn">Withdraw</button>
        </div>
        <div class="sub-container container-2 pt-4 pb-3 ms-5 px-4">
            <p class="fw-medium heading">Total Orders</p>
            <p class="description">Total number of orders within the month.</p>
            <div class="d-flex align-items-center">
                <p class="fw-semibold amount">05</p>
                <i class="bi bi-arrow-up-circle ms-2"></i>
            </div>
        </div>
        <div class="sub-container container-2 pt-4 pb-3 ms-2 px-4">
            <p class="fw-medium heading">Total Revenue</p>
            <p class="description">Total revenue within the month</p>
            <div class="d-flex align-items-center">
                <p class="fw-semibold amount">LKR 000</p>
                <i class="bi bi-arrow-up-circle ms-2"></i>
            </div>
        </div>
        <div class="sub-container container-2 pt-4 pb-3 ms-2 px-4">
            <p class="fw-medium heading">Out of Stocks</p>
            <p class="description">Total count of books currently out of stock.</p>
            <p class="fw-semibold amount">02</p>
        </div>
    </div>
</div>
<div class="row mx-5 mt-5">
    <div class="col-6 pe-4 border-end">
        <div class="d-flex justify-content-between pb-2 border-bottom">
            <h4 class="fw-semibold m-0">Orders</h4>
            <button class="btn outline-btn">View All <i class="fa-solid fa-chevron-right ps-2"></i></button>
        </div>
        <h6 class="m-0 mt-3 ps-3 pb-2">New Orders</h6>
        <div class="tbl-section mb-3">
            <table>
                <thead>
                    <tr>
                        <th width="20%">Order ID</th>
                        <th width="20%">Order Date</th>
                        <th width="35%">Estimated Delivery Dates</th>
                        <th width="25%">Total Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#OR240123456</td>
                        <td>2024 JAN 05</td>
                        <td>2024 JAN 08 - 2024 JAN 15</td>
                        <td>LKR.000.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6 ps-4">
        <div class="d-flex justify-content-between pb-2 border-bottom">
            <h4 class="fw-semibold m-0">Books</h4>
            <div>
                <button class="btn primary-btn me-3" data-bs-toggle="modal" data-bs-target="#addNewBook">+ Add Book</button>
                <button class="btn outline-btn">View All <i class="fa-solid fa-chevron-right ps-2"></i></button>
            </div>
        </div>
        <h6 class="m-0 mt-3 ps-3 pb-2">Top Selling Books</h6>
        <div class="tbl-section mb-3">
            <table>
                <thead>
                    <tr>
                        <th width="15%">Book ID</th>
                        <th width="30%">Book Title</th>
                        <th width="10%">Year</th>
                        <th width="15%">Genre</th>
                        <th width="20%">price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>#BK0003</td>
                        <td>Sample Book Name</td>
                        <td>2024</td>
                        <td>Fiction</td>
                        <td>LKR.000.00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Add New Book Modal -->
<div class="modal fade" id="addNewBook" tabindex="-1" aria-labelledby="addNewBookTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="m-0">Add New Book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="clearFields()"></button>
            </div>
            <div class="modal-body col-6 w-100 mt-4">
                <form [formGroup]="bookForm">
                    <!-- Line 01 -->
                    <div class="d-flex mb-4">
                        <div class="form-floating  w-50 ">
                            <input type="text" class="form-control" id="title" placeholder="book title" [(ngModel)]="bookModel.title" formControlName="title" required>
                            <label for="title">Title <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-floating w-50  ms-2">
                            <input type="text" class="form-control" id="isbn" placeholder="book isbn" [(ngModel)]="bookModel.isbn" formControlName="isbn">
                            <label for="isbn">ISBN <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-floating w-25 ms-2">
                            <select class="form-select" id="genre" aria-label="genre" [(ngModel)]="bookModel.genre.id" formControlName="genre">
                                <option value="GEN001">Fiction</option>
                                <option value="GEN002">Educational</option>
                                <option value="GEN003">Novel</option>
                            </select>
                            <label for="genre">Genre <span class="text-danger">*</span></label>
                        </div>
                    </div>
                    <!-- Line 02 -->
                    <div class="d-flex mb-4">
                        <div class="form-floating w-50 ">
                            <input type="text" class="form-control" id="author" placeholder="book author" [(ngModel)]="bookModel.author.name" formControlName="author">
                            <label for="author">Author <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-floating w-50  ms-2">
                            <input type="text" class="form-control" id="publication" placeholder="book publication" [(ngModel)]="bookModel.publication.name" formControlName="publication">
                            <label for="publication">Pulication <span class="text-danger">*</span></label>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <div class="form-floating w-25">
                            <input type="number" class="form-control" id="year" placeholder="book year" [(ngModel)]="bookModel.year" formControlName="year">
                            <label for="year">Year <span class="text-danger">*</span></label>                 
                        </div>
                        <div class="form-floating w-50 ms-2">
                            <input type="number" class="form-control" id="price" placeholder="book price" [(ngModel)]="bookModel.price" formControlName="price">
                            <label for="price">Price <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-floating w-50 ms-2">
                            <input type="number" class="form-control" id="discount" placeholder="book discount" [(ngModel)]="bookModel.discount" formControlName="discount">
                            <label for="discount">Discount</label>
                        </div>
                    </div>
                    <!-- Line 03 -->
                    <div class="d-flex mb-4">
                        <div class="form-floating w-25">
                            <select class="form-select" id="mode" aria-label="mode" [(ngModel)]="bookModel.mode" formControlName="mode">
                                <option value="HARD">Hard Metirial</option>
                                <option value="SOFT">Soft Meterial (PDF/DOC)</option>
                            </select>
                            <label for="mode">Mode <span class="text-danger">*</span></label>
                        </div>
                        <div class="form-floating w-25 ms-2">
                            <input type="number" class="form-control" id="quantity" placeholder="book quantity" [(ngModel)]="bookModel.quantity" formControlName="quantity" title="Quantity should be more than 0.">
                            <label for="quantity">Quantity <span class="text-danger">*</span></label>
                        </div>
                    </div>
                    <!-- Line 05 -->
                    <div class="d-flex">
                        <div class="form-floating w-75 pe-4">
                            <textarea class="form-control h-100"  placeholder="book description" id="description" [(ngModel)]="bookModel.description"  formControlName="description"></textarea>
                            <label for="description">Description</label>
                        </div>
                        <div class="d-flex w-50">
                            <div class="image-picker w-50">
                                <input type="file" class="d-none" id="imagePicker" accept=".png, .jpeg, .jpg" (change)="setImage($event)" >
                                <label class="text-center d-flex flex-column h-100  pt-4" for="imagePicker" >
                                    <i class="bi bi-file-earmark-image"></i>
                                    <p class="px-4">{{imageFieldText}}</p>
                                </label>
                            </div>
                            <div class="image-container d-flex justify-content-center ms-3 w-50 d-flex ">
                                <img class="h-100" [src]="imagePath" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 mb-3 info">
                        <p class="m-0">Please ensure that all mandatory fields are completed prior to saving. The Book Image is also a required field.</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn outline-btn" id="closeBtn" (click)="clearFields()" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn primary-btn" (click)="onSubmit()" [disabled]="bookForm.invalid">Save Book</button>
            </div>        
        </div>
    </div>
</div>