.sub-container{
    border: 1px solid var(--black-shade-3);
    border-radius: 0.7rem;
    width: fit-content;
    padding-right: 4rem !important;
}

.sub-container p{
    margin: 0;
}

.sub-container .heading{
    font-size: 1rem;
}

.sub-container .description{
    color: var(--black-shade-4);
    font-size: 0.6rem;
    width: 20rem;
}

.sub-container .amount{
    font-size: 2.5rem;
}

.sub-container .primary-btn{
    font-size: 0.9rem !important;
    padding-inline: 0.8rem 5rem !important;
}

.container-2{
    background-color: var(--white-shade-1);
}

.container-2 .description{
    width: 15rem !important;
}

.container-2 .amount{
    font-size: 3.5rem;
}

.bi-arrow-up-circle{
    color: var(--primary-color);
    font-size: 2.5rem;
}

.tbl-section td, .tbl-section th{
    padding-left: 1rem;
}

.tbl-section table{
    width: 100%;
}

.tbl-section{
    height: 35vh !important;
    overflow-y: scroll;
}

.border-end{
    border-right: 1px solid var(--black-shade-3) !important;
}

/* Add New Book Modal */
#addNewBook .modal-dialog{
    max-width: 55vw !important;
}

#addNewBook .modal-body{
    padding: 0 2rem 2rem;
}

/*Remove Arraw of Number Input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}
/* ----- */

.image-picker label .bi{
    font-size: 3rem;
}

.image-picker label p{
    font-size: 0.65rem;
}

.image-picker label{
    color: var(--primary-color);
    background-color: #EFFEF6;
    border-radius: 0.8rem;
    border: 1px dashed var(--primary-color);
}

.image-picker label:hover{
    cursor: pointer;
}

.image-container{
    overflow: hidden;
    height: 12rem;
    background-color: var(--white-shade-2);
    border-radius: 0.8rem;
}
