<div class="post-container py-4">
    <div class="row top align-items-center justify-content-between px-2 pb-3 border-bottom">
        <div class="d-flex align-items-center width-fit-content">
            <div class="rounded-circle overflow-hidden profile-img-container">
                <img class="w-100" src="assets/images/sample-user-01.jpg" alt="">
            </div>
            <div class="post-details ms-3">
                <p class="fw-semibold">Andrew  Ferguson</p>
                <p>2024 January 01</p>
            </div>
        </div>
        <i class="fa-solid fa-ellipsis-vertical width-fit-content"></i>
    </div>
    <div class="content mt-4 pb-3 border-bottom">
        <p><b>Echoes of Silence</b><br><br>In a world overwhelmed by noise, 'Echoes of Silence' celebrates the beauty of stillness. Each brushstroke invites you to reflect on quiet moments that often go unnoticed. Here, tranquility takes shape, revealing the profound truths hidden in silence.<br><br>This piece reminds us that the spaces between words hold depth and clarity, allowing us to reconnect with our innermost thoughts. Pause for a moment, and let the whispers of stillness resonate within you. In embracing silence, we uncover the richness of life that chaos often drowns out.</p>
    </div>
    <div class="row justify-content-between align-items-center post-bottom pt-3 pe-3">
        <p class="width-fit-content m-0" >25K Reactions & 5K Comments</p>
        <div class="d-flex width-fit-content">
            <div class="d-flex react align-items-center me-5">
                <img src="assets/images/icons/nice-outline.svg" alt="">
                <p class="m-0 ms-3">React</p>
            </div>
            <div class="d-flex comment align-items-center ms-5">
                <img src="assets/images/icons/comment-outline.svg" alt="">
                <p class="m-0 ms-3">Comment</p>
            </div>
        </div>
    </div>
</div>