<div class="outer-container d-flex position-fixed justify-content-center align-items-center z-2 top-0 w-100 h-100">
    <div class="main-container w-50 h-75 d-flex justify-content-center align-items-center flex-wrap">
        <button type="button" class="btn-close position-relative" aria-label="Close"></button>
        <div class="w-50 d-grid">
            <img class="w-50 mb-5" src="assets/images/logo-1.png" alt="">
            <div class="mb-4">
                <h3 class="fw-semibold text-center mb-4">Log in to your Account</h3>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="email" placeholder="name@example.com">
                    <label for="email">Email address</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" placeholder="Password">
                    <label for="password">Password</label>
                </div>
            </div>
            <button class="btn primary-btn py-2 w-50">Log in</button>
            <p class="text-center mt-2 text-link">Forgot Password?</p>
            <p class="text-link-2 text-center mt-4">Don't have an account? <span class="fw-medium ">Create an account</span></p>
        </div>
    </div>
</div>