.outer-container{
    background-color: #2229317a;
}

.main-container{
    background-color: #fff;
    border-radius: 0.8rem;
}

.main-container img,  .primary-btn{
    justify-self: center;
}

.text-link{
    font-size: 0.9rem;
    color: var(--black-shade-4);
    text-decoration: underline;
}

.text-link:hover{
    color: var(--primary-black) !important;
    cursor: pointer;
}

.text-link-2{
    font-size: 0.9rem;
}

.text-link-2 span{
    color: var(--primary-color) !important;
}

.text-link-2 span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.btn-close{
    bottom: 20rem;
    left: 42.5rem;
}

.form-control:focus{
    border-color: var(--primary-color);
    box-shadow:  0 0 0 5px #11d57042;
}