<div class="row justify-content-evenly mt-4 mx-4">
    <div class="col-7">
        <div class="row sub-section purchases">
            <div class="d-flex justify-content-between mb-lg-2">
                <h4 class="fw-semibold m-0">In Progress Purchases</h4>
                <button class="btn outline-btn" routerLink="../purchases">View All <i class="fa-solid fa-chevron-right ps-2"></i></button>
            </div>
            <div class="content py-3">
                <div class="mx-1 px-3 py-3 mb-3 order d-flex justify-content-between" *ngFor="let order of inprogessOrders.reverse()" routerLink="../purchases">
                    <div>
                        <p class="fw-medium" id="orderId">Order ID <span>#{{order.id}}</span></p>
                        <p id="orderDate">Order Date <span class="ms-1">{{order.date}}</span></p>
                        <p id="estDate">Estimated Delivery Dates <span class="ms-1 fw-medium">{{order.estimatedDeliveryDate != null ? order.estimatedDeliveryDate: "-"}}</span></p>
                    </div>
                    <div class="text-end d-grid">
                        <p class="order-satatus align-self-baseline {{order.status.name.toLowerCase()}}">{{order.status.name}}</p>
                        <p id="price" class="fw-semibold align-self-end">LKR.{{order.netTotal.toFixed(2)}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row sub-section library mt-4">
            <div class="d-flex justify-content-between mb-lg-2">
                <h4 class="fw-semibold m-0">My Library</h4>
            </div>
            <div class="content py-3">
                
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="user-detail-container d-grid mb py-4">
            <h5 class="text-center fw-semibold mt-2 mb-3">General Paperledger</h5>
            <input class="d-none" type="file" name="" accept=".jpg, .png, .jpeg" id="profilePicture" (change)="updateProfilePictue($event)">
            <div class="rounded-circle profile-picture" >
                <label for="profilePicture">
                    <div class="position-absolute rounded-circle edit-overlay d-flex justify-content-center align-items-center"><i class="fa-solid fa-pencil"></i></div>
                    <img class="w-100" src="http://localhost:8080/{{user.profilePicture}}" alt="">
                </label>
            </div>
            <div class="text-center mt-4">
                <p id="name" class="fw-medium m-0">{{user.name}}</p>
                <p id="username">{{user.username}}</p>
            </div>
            <div class="d-flex account-details justify-content-center">
                <div class="pe-4">
                    <p class="number">00</p>
                    <p>Followers</p>
                </div>
                <div class="ps-4">
                    <p class="number">00</p>
                    <p>Posts</p>
                </div>
            </div>
            <div class="mx-4 mt-5">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Email Address</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td>{{user.contactNumber != null ? user.contactNumber: "-"}}</td>
                        </tr>
                        <tr>
                            <td>Created Date</td>
                            <td>{{user.createdDate}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn outline-btn">Edit Account Info</button>
        </div>
    </div>
</div>