<div class="container-fluid px-5 pt-5">
    <div class="row  pb-5 border-bottom align-items-center">
        <div class="col-3">
            <img class="w-50" src="assets/images/logo-1.png" alt="Logo">
        </div>
        <div class="col-6 nav-bar d-flex justify-content-center">
            <ul class="m-0 p-0">
                <li class="me-3" [ngClass]="{ active: isHomeActive() }"><a routerLink="" >Home</a></li>
                <li class="me-3" [ngClass]="{ active: isActive('book-fair') }"><a routerLink="book-fair">Book Fair</a></li>
                <li><a routerLink="">Ledgers' Corner</a></li>
            </ul>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <button class="btn primary-btn me-4">Log in</button>
            <button class="btn outline-colored-btn">Sign up</button>
        </div>
    </div>
</div>

