.nav-bar ul{
    list-style: none;
    width: fit-content;
}

.nav-bar ul li{
    display: inline-block;
    padding-inline: 1.2rem;
    padding-bottom: 0.8rem;
}

.nav-bar ul li a{
    text-decoration: none;
    color: var(--primary-black);
    font-weight: 500;
}

.nav-bar ul li{
    border-bottom: 2px solid #FFFFFF;
}

.active{
    border-bottom-color: var(--primary-color) !important;
}

.active a{
    color: var(--primary-color) !important;
}

.nav-bar ul li:not(.active):hover{
    border-bottom-color: var(--primary-black);
}

.profile-img-container{
    width: 4.5rem;
}

.profile-img-container:hover{
    cursor: pointer;
}

.notfication div{
    background-color: var(--red);
    width: 0.5rem;
    height: 0.5rem;
    margin-left: 1.7rem;
    margin-top: 0.8rem;
}

.notfication .fa-bell{
    font-size: 1.3rem !important;
    padding-inline: 1rem;
    padding-block: 0.8rem;
}

.notfication{
    background-color: var(--black-shade-5);
    width: fit-content;
    border-radius: 0.7rem;
    transition: background-color 0.2s;
}

.notfication:hover{
    cursor: pointer;
    background-color: var(--black-shade-3);
}

.dropdown:hover .dropdown-menu{
    display: block;
}

.dropdown-menu{
    transform: translate(-3.5rem);
    font-size: 0.85rem;
}

.dropdown-item:not(.dropdown-menu li:last-child a){
    margin-bottom: 0.8rem;
}

.dropdown-item:active{
    background-color: var(--primary-color);
}

a.active{
    background-color: var(--secondry-color);
}

/* Login Modal */
.modal{
    --bs-modal-width: 50%;
}

.text-link{
    font-size: 0.9rem;
    color: var(--black-shade-4);
    text-decoration: underline;
}

.text-link:hover{
    color: var(--primary-black) !important;
    cursor: pointer;
}

.text-link-2{
    font-size: 0.9rem;
}

.text-link-2 span{
    color: var(--primary-color) !important;
}

.text-link-2 span:hover{
    text-decoration: underline;
    cursor: pointer;
}

.modal img, .modal button{
    justify-self: center;
}

#loginModal .modal-body{
    margin-block: 5rem;
}

form {
    --bs-danger: #F92C58;
    --bs-form-valid-border-color: var(--primary-color);
}
/* End log in modal styles */

/* Alert Danger */
.alert-danger {
    height: 2.5rem;
    background-color: #ffe1e8;
    color: #c9163d;
    animation: alert 0.2s;
}

#loginModal .alert-danger{
    transform: translateY(-4rem);
}

#signUpModal .alert-danger{
    transform: translateY(-2.5rem);
}

.alert-danger i{
    font-size: 1.2rem;
}

.alert-danger div{
    font-size: 0.8rem;
}

.invalid-feedback{
    font-size: 0.8rem;
}

@keyframes alert {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}