<div class="container py-5">
    <div class="row justify-content-center hero-section align-items-center pt-4">
        <div class="col-6 d-flex flex-wrap ">
            <h4>Welcome</h4>
            <h1><span class="fw-bold">Hearts</span>!</h1>
            <h6>that beat with the rhythm of books.</h6>
        </div>
        <div class="col-4">
            <img class="w-100" src="assets/images/logo-2.png" alt="">
        </div>
    </div>
</div>
<div class="mx-5 border-bottom"></div>
<div class="container intro-section text-center mb-5">
    <div class="row heading">
        <h2>What is <span class="fw-semibold">Paperledge?</span></h2>
        <p>Papaerledge is a platform that provides the following to you:</p>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-6 details border-right pt-4">
            <h4>Marketplace</h4>
            <div class="d-flex flex-column">
                <div class="rounded-5 align-self-center ellipse"></div>
                <div class="align-self-center line"></div>
                <div class="rounded-5 align-self-center ellipse"></div>
            </div>
            <h2>Book Fair</h2>
            <p>Where you can buy and sell books. General users can sell (Used books) and buy books, Business users can sell (Both used and new books) and buy books.</p>
            <button class="mt-4 btn outline-btn">Go to Book Fair</button>
        </div>
        <div class="col-6 details pt-4">
            <h4>Community</h4>
            <div class="d-flex flex-column">
                <div class="rounded-5 align-self-center ellipse"></div>
                <div class="align-self-center line"></div>
                <div class="rounded-5 align-self-center ellipse"></div>
            </div>
            <h2>Ledgers' Corner</h2>
            <p>Where you can publish your ideas, literary arts, reviews, and everything in your mind. Users can engage with other other's posts and connect with them by following their profiles.</p>
            <button class="mt-4 btn outline-btn">Go to Ledgers' Corner</button>
        </div>
    </div>
</div>
