<!-- Hero Section -->
<div class="container py-5">
    <div class="row justify-content-center hero-section align-items-center pt-4">
        <div class="col-6 d-flex flex-wrap ">
            <h4>Welcome</h4>
            <h1><span class="fw-bold">Hearts</span>!</h1>
            <h6>that beat with the rhythm of books.</h6>
        </div>
        <div class="col-4">
            <img class="w-100" src="assets/images/logo-2.png" alt="">
        </div>
    </div>
</div>
<!-- Intro Section -->
<div class="mx-5 border-bottom"></div>
<div class="container intro-section text-center mb-5">
    <div class="row heading">
        <h2>What is <span class="fw-semibold">Paperledge?</span></h2>
        <p>Papaerledge is a platform that provides the following to you:</p>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-6 details border-right pt-4">
            <h4>Marketplace</h4>
            <div class="d-flex flex-column">
                <div class="rounded-5 align-self-center ellipse"></div>
                <div class="align-self-center line"></div>
                <div class="rounded-5 align-self-center ellipse"></div>
            </div>
            <h2>Book Fair</h2>
            <p>Where you can buy and sell books. General users can sell (Used books) and buy books, Business users can sell (Both used and new books) and buy books.</p>
            <button class="mt-4 btn outline-btn" routerLink="book-fair">Go to Book Fair</button>
        </div>
        <div class="col-6 details pt-4">
            <h4>Community</h4>
            <div class="d-flex flex-column">
                <div class="rounded-5 align-self-center ellipse"></div>
                <div class="align-self-center line"></div>
                <div class="rounded-5 align-self-center ellipse"></div>
            </div>
            <h2>Ledgers' Corner</h2>
            <p>Where you can publish your ideas, literary arts, reviews, and everything in your mind. Users can engage with other other's posts and connect with them by following their profiles.</p>
            <button class="mt-4 btn outline-btn">Go to Ledgers' Corner</button>
        </div>
    </div>
</div>
<!-- Book Fair Sub Section -->
<div class="container-fluid sub-section">
    <div class="row align-items-center justify-content-between heading px-5 mb-3">
        <h2 class="m-0 fw-semibold">Book Fair</h2>
        <button class="btn outline-colored-btn text-black-only" routerLink="book-fair">Go to Bookf Fair <i class="fa-solid fa-chevron-right ps-2"></i></button>
    </div>
    <div class="row content gy-4 mt-4 pb-4">
        <div class="col-2 px-4" *ngFor="let book of bookList">
            <app-book-showcase [book]="book"></app-book-showcase>
        </div>
    </div>
</div>
<!-- Ledgers' Corner Sub Section -->
<div class="container-fluid sub-section">
    <div class="row align-items-center justify-content-between heading px-5 mb-3">
        <h2 class="m-0 fw-semibold">Ledgers' Corner</h2>
        <button class="btn outline-colored-btn text-black-only">Go to Ledgers' Corner <i class="fa-solid fa-chevron-right ps-2"></i></button>
    </div>
    <div class="row content gy-4 mt-4 pb-4">
        <div class="col-6 px-4" >
            <app-post></app-post>
        </div>
    </div>
</div>
<img class="w-100 footer-img z-0 position-absolute opacity-50" src="assets/images/name-only-logo.svg" alt="">
<div class="">
    <div class="footer position-relative z-1">

    </div>
</div>