@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", serif !important;
}

:root{
    --primary-color: #0DA053;
    --secondry-color: #33DB8A;
    --primary-black: #222931;
    --secondry-black: #505760;
    --black-shade-3: #adb4be;
    --black-shade-4: #78808b;
    --white-shade-1: #f8f8f9;

    /* Bootsrap font color change to primary-black */
    --bs-body-color: var(--primary-black) !important;
}

.border-bottom{
    border-bottom: 1px solid var(--primary-black);
}

.btn{
    padding: 0.3rem 2rem !important;
    border-radius: 0.5rem !important;
    font-size: 0.9rem !important;
}

.primary-btn{
    background-color: var(--primary-color) !important;
    color: #FFFFFF !important;
    font-weight: 600 !important;
    border: none;
}

.primary-btn:hover{
    background-color: #0dbe63 !important;
}

.outline-colored-btn{
    border: 2px solid var(--secondry-color) !important;
    color: var(--primary-color) !important;
}

.outline-colored-btn:hover{
    background-color: var(--secondry-color) !important;
    color: #FFFFFF !important;
}

.outline-btn{
    border: 1px solid var(--secondry-black) !important;
    color: var(--secondry-black) !important;
}

.outline-btn:hover{
    background-color: var(--secondry-black) !important;
    color: #FFFFFF !important;
}

.btn-filled-2{
    background-color: var(--secondry-color) !important;

}

.btn-filled-2:hover{
    background-color: var(--primary-color) !important;
}

.text-black-only{
    color: var(--primary-black) !important;
}

.width-fit-content{
    width: fit-content !important;
}

.input-field{
    font-size: 0.9rem;
    border: 1px solid var(--black-shade-3);
    padding: 0.2rem 0.5rem;
    border-radius: 0.35rem;
}

.input-field:focus{
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px #33db8a6b;
}
