<div class="modal-header">
    <h5 class="m-0">Cart & Checkout</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" id="modalColseBtn" aria-label="Close"></button>
</div>
<div class="modal-body w-100 px-5 pb-5 align-self-center d-grid">
    <div class="row g-5">
        <div class="col-lg-5 order-md-last">
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="">Your cart</span>
            <span class="badge bg-primary rounded-pill">{{cartItemList.length}}</span>
          </h4>
          <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm" *ngFor="let item of cartItemList">
              <div>
                <h6 class="my-0">{{item.book.title}}</h6>
                <small class="text-body-secondary qty-field"><input class="ps-2 rounded-2 w-25" type="number" min="0" (change)="calcTotal()" [(ngModel)]="item.quantity"></small>
              </div>
              <span class="text-body-secondary">LKR{{(item.quantity * (item.book.price - item.book.discount)).toFixed(2)}}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
              <span>Total</span>
              <strong>LKR.{{total.toFixed(2)}}</strong>
            </li>
          </ul>
        </div>
        <div class="col-lg-7">
          <h4 class="mb-3">Billing address</h4>
          <form class="needs-validation" novalidate="">
            <div class="row g-3">
              <div class="col-12">
                <label for="address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Street / Number" required="">
                <div class="invalid-feedback">
                  Please enter your shipping address.
                </div>
              </div>
  
              <div class="col-12">
                <label for="address2" class="form-label">Address 2 <span class="text-body-secondary">(Optional)</span></label>
                <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
              </div>
  
              <div class="col-md-5">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" id="country" placeholder="">
                <div class="invalid-feedback">
                  Please select a valid country.
                </div>
              </div>
  
              <div class="col-md-4">
                <label for="province" class="form-label">Province</label>
                <input type="text" class="form-control" id="province" placeholder="">
                <div class="invalid-feedback">
                  Please provide a valid state.
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="zip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="zip" placeholder="" required="">
                <div class="invalid-feedback">
                  Zip code required.
                </div>
              </div>
            </div>
            <hr class="my-4">
  
            <h4 class="mb-3">Payment</h4>
  
            <div class="my-3">
              <div class="form-check">
                <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                <label class="form-check-label" for="credit">Credit card</label>
              </div>
              <div class="form-check">
                <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                <label class="form-check-label" for="debit">Debit card</label>
              </div>
              <div class="form-check">
                <input id="paypal" name="paymentMethod" type="radio" class="form-check-input" required="">
                <label class="form-check-label" for="paypal">PayPal</label>
              </div>
            </div>
  
            <div class="row gy-3">
              <div class="col-md-6">
                <label for="cc-name" class="form-label">Name on card</label>
                <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                <small class="text-body-secondary">Full name as displayed on card</small>
                <div class="invalid-feedback">
                  Name on card is required
                </div>
              </div>
  
              <div class="col-md-6">
                <label for="cc-number" class="form-label">Credit card number</label>
                <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                <div class="invalid-feedback">
                  Credit card number is required
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="cc-expiration" class="form-label">Expiration</label>
                <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                <div class="invalid-feedback">
                  Expiration date required
                </div>
              </div>
  
              <div class="col-md-3">
                <label for="cc-cvv" class="form-label">CVV</label>
                <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                <div class="invalid-feedback">
                  Security code required
                </div>
              </div>
            </div>
  
            <hr class="my-4">
          </form>
          <button class="w-100 btn primary-btn btn-lg">Continue to checkout</button>
        </div>
    </div>
</div>